.modal-editar {
    width: 476px;
    height: 563px;
}

.modal-editar h2 {
    margin-bottom: 40px;
}

.container-btn button {
    width: 100%;

}

.btn-confirmar {
    margin-top: 72px;
    margin-bottom: 0px;
}

.btn-cancelar {
    margin-top: 8px;
    margin-bottom: 0px;
}

.form-editar input {
    margin-bottom: 8px;
}